<div class="row">
  <div class="col p-5">
    <h2>Creacion de planta</h2>
    <form [formGroup]="plantaFormNew" (ngSubmit)="onSubmit()" autocomplete="off">
      <!--Fila 1-->
      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label>Nombre:</label>
            <input type="text" formControlName="name" class="form-control" placeholder="Nombre de la nueva planta" />
            <span class="form-text text-danger">
              La planta tiene que tener nombre
            </span>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label>Ubicación:</label>
            <input type="text" formControlName="country" class="form-control" />
            <span class="form-text text-danger">
              La planta debe tener ubicacion (Pais donde se encuentra)
            </span>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label>Capacidad:</label>
            <input type="number" formControlName="capacityFactor" class="form-control" />
            <span class="form-text text-danger">
              La planta debe tener factor de capacidad
            </span>
          </div>
        </div>
      </div>

      <!--Fila 2-->
      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label>Tipo</label>
            <select formControlName="energyTypeId" class="form-control">
              <option value="">Seleccione un tipo</option>
              <option *ngFor="let type of energyTypes" [value]="type.energyTypeId">{{ type.name }}</option>
            </select>
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <label>Estado:</label>
            <input type="text" formControlName="status" class="form-control" />
            <span class="form-text text-danger">
              La planta debe tener un estado (operativa,inoperativa, remodelacion)
            </span>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label>Ciudad o Región</label>
            <input type="text" formControlName="cityOrRegion" class="form-control" />
            <span class="form-text text-danger">
              La planta debe tener la ciudad en la cual se encuentra
            </span>
          </div>
        </div>
      </div>

      <!--Fila 3-->
      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label>Latitud</label>
            <input type="number" formControlName="latitude" class="form-control" />
            <span class="form-text text-danger">
              La planta debe tener latitud
            </span>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label>Longitud</label>
            <input type="number" formControlName="longitude" class="form-control" />
            <span class="form-text text-danger">
              La planta debe tener longitud
            </span>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label>Capacidad Instalada</label>
            <input type="number" formControlName="installedCapacity" class="form-control" />
            <span class="form-text text-danger">
              La planta debe tener capacidad instalada
            </span>
          </div>
        </div>
      </div>

      <!--Fila 4-->
      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label>Fecha de Inicio</label>
            <input formControlName="startDate" class="form-control" />
            <span class="form-text text-danger">
              La planta debe tener la fecha de inicio
            </span>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label>Propietario</label>
            <input type="text" formControlName="owner" class="form-control" />
            <span class="form-text text-danger">
              La planta debe tener el nombre del propietario
            </span>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label>Producción Anual Estimada</label>
            <input type="number" formControlName="estimatedAnnualProduction" class="form-control" />
            <span class="form-text text-danger">
              La planta debe tener la produccion anual estimada
            </span>
          </div>
        </div>
      </div>

      <!--fila 5-->
      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label>Emisiones Evitadas</label>
            <input type="number" formControlName="emissionsAvoided" class="form-control" />
            <span class="form-text text-danger">
              La planta debe tener las emisiones emitidas
            </span>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label>Costo de Construcción</label>
            <input type="number" formControlName="constructionCost" class="form-control" />
            <span class="form-text text-danger">
              La planta debe tener el costo de su construccion
            </span>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label>Número de Unidades</label>
            <input type="number" formControlName="numberOfUnits" class="form-control" />
            <span class="form-text text-danger">
              La planta debe tener el numero de unidades
            </span>
          </div>
        </div>
      </div>

      <!--Fila 6-->
      <div class="row">

        <!-- <div class="col-4">
          <div class="form-group">
            <label>Factor de Capacidad</label>
            <input type="number" formControlName="capacityFactor" class="form-control" />
          </div>
        </div> -->
        <div class="col-4">
          <div class="form-group">
            <label>Proveedor de Tecnología</label>
            <input type="text" formControlName="technologyProvider" class="form-control" />
            <span class="form-text text-danger">
              La planta debe tener el proveedor de tecnologia
            </span>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label>Calificación</label>
            <input type="number" formControlName="rating" class="form-control" />
            <span class="form-text text-danger">
              La planta debe tener la calificacion
            </span>
          </div>
        </div>
      </div>

      <!--Fila 7-->
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Informacion</label>
            <textarea formControlName="history" class="form-control" rows="7"></textarea>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary mt-5 float-end">Enviar</button>

      <button class="btn btn-primary mt-5 float-end m-3" routerLink="/dashboard">Volver</button>

      <button class="btn btn-primary mt-5 float-end m-3" (click)="cleanFrom()">Limpiar</button>

    </form>
  </div>
</div>
