<div class="container-fluid">
  <div class="row">
    <!-- Sección de Listado de Plantas -->
    <div class="col-md-6 border full-height overflow-auto" style="background-color: aqua;">
      <h2 class="text-center">Listado de plantas</h2>
      <div *ngIf="plants.length > 0; else noPlants">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>País</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let plant of plants">
              <td>{{ plant.name }}</td>
              <td>{{ plant.country }}</td>
              <td>
                <button (click)="selectPlant(plant)" class="btn btn-primary m-2">Ver detalles</button>
                <button (click)="InfoPlant(plant.id)" class="btn btn-info m-2">Informacion</button>
                <button (click)="PlantStatistics(plant.id)" class="btn btn-danger">Estadistica</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #noPlants>
        <p>No hay plantas disponibles.</p>
      </ng-template>
    </div>

    <!-- Sección de Mapa -->
    <div class="col-md-6 border full-height">
      <div id="mapaVictor" style="width: 100%; height: 100%;"></div> <!-- Elimina los tamaños fijos -->
    </div>
  </div>

  <!-- Sección de Estadísticas de la Planta -->
  <div class="col-md-6 border full-height">
    <div id="chartGraficaBarras" style="height: 100%;"></div>
  </div>
</div>

